body >.core-router >.main >.modules > .instance--samespace >.wrapper {

    >p {

        >.instance-samespace {

        	width:90px;
            background:#fff;
            border:1px solid #eee;
            padding:0;

        	>div {

                >div { height:130px; }

        		>.a0 {
    	    		background: inline-image("route.main.modules.instance.samespace/sm1.gif") no-repeat 50% 0;
    	    	}
                >.a1 {
                    background: inline-image("route.main.modules.instance.samespace/sm2.gif") no-repeat 50% 0;
                }
                >.a2 {
                    background: inline-image("route.main.modules.instance.samespace/sm3.gif") no-repeat 50% 0;
                }

    	    }
        }
    }

}
