.instance-bookmark {
    >li {    
        display:inline-block;
        margin-right:2em;
        padding:20px 20px 0 0;
        &:last-child { margin-right:0 }
        &:hover { cursor:pointer }
        &.delicious { background: inline-image("instance.bookmark/delicious.png") no-repeat 50% 50% }
        &.digg { background: inline-image("instance.bookmark/digg.png") no-repeat 50% 50% }
        &.reddit { background: inline-image("instance.bookmark/reddit.png") no-repeat 50% 50% }
        &.facebook { background: inline-image("instance.bookmark/facebook.png") no-repeat 50% 50% }
        &.stumbleupon { background: inline-image("instance.bookmark/stumbleupon.png") no-repeat 50% 50% }
        &.email { background: inline-image("instance.bookmark/email.png") no-repeat 50% 50% }
        &.twitter { background: inline-image("instance.bookmark/twitter.png") no-repeat 50% 50% }

        &:last-child {
            margin:0;
        }
    }
}

