@font-face {
    font-family: "Open Sans";
	src: inline-font-files("OpenSans-Bold-webfont.woff",woff);
	font-weight:bold;
	font-style:normal;
}

@font-face {
    font-family: "Open Sans";
	src: inline-font-files("OpenSans-Regular-webfont.woff",woff);
	font-weight:normal;
	font-style:normal;
}


//@font-face {
//    font-family: "Open Sans";
//	src: local('☺'), inline-font-files("OpenSans-Light-webfont.woff",woff);
//	font-weight:200;
//}

//@font-face {
//    font-family: "Open Sans";
//	src: local('☺'), inline-font-files("OpenSans-Semibold-webfont.woff",woff);
//	font-weight:600;
//}

//@font-face {
//    font-family: "Open Sans";
//	src: local('☺'), inline-font-files("OpenSans-Italic-webfont.woff",woff);
//	font-style:italic;
//}

