@import "../sass-global/mixins.scss";

body >.core-router >.main >.design >.wrapper {

    @include pagepadding;
    @include pagerestrictwidth;

	>.classid {
		width:310px;
		height:118px;   
		background: inline-image("route.main.design/classid.png");  
	}

	>p {
		>.viewblock {
			background:#444;
			display:inline-block;
			font-weight:bold;
			color:#fff;			
			padding:0.5em;

			>div {
				color:#fff;
				display:block;
				margin:0.25em 0.5em;
				padding:0.1em 0.5em;
				background:red;
				>div {
					background:green;
				}
			}
		}	
	}

}