@import "../sass-global/mixins.scss";

body >.core-mvc >.main >.locale >.wrapper {
    @include pagepadding;
    @include pagerestrictwidth;

    >.lib-iso-3166-1-flags {
    	>div {
    		display:inline-block;
    		margin-right:0.7em;
    		width:6em;
    		height:3.2em;
    		background-size:100% 100%;
    	}

    }


}