@import "../sass-global/mixins.scss";
@import "../sass-global/variables.scss";

@-webkit-keyframes igaro-loading {
from { opacity: 0.1; }
50% { opacity: 1; }
to { opacity: 0.1; }
}

@keyframes igaro-loading {
from { opacity: 0.1; }
50% { opacity: 1; }
to { opacity: 0.1; }
}

/* Lights */
@font-face {
    font-family: 'Open Sans';
    src: font-url('OpenSans/OpenSans-Lights-webfont.eot');
    src: font-url('OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         font-url('OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         font-url('OpenSans/OpenSans-Light-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 200;
    font-style: normal;
}
/* Regular */
@font-face {
    font-family: 'Open Sans';
    src: font-url('OpenSans/OpenSans-Regular-webfont.eot');
    src: font-url('OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         font-url('OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         font-url('OpenSans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
/* Bold */
@font-face {
    font-family: 'Open Sans';
    src: font-url('OpenSans/OpenSans-Bold-webfont.eot');
    src: font-url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         font-url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         font-url('OpenSans/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'),
         font-url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}


* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background-color:#fff;
    height:100%;
    color:#424347;
    font-family: "Open Sans", "Helvetica", "Arial";
    line-height:175%;
    font-size:12pt;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;

    >noscript {
      text-align:center;
    }

    pre {
        white-space: pre-wrap;
    }

    code {
        border-left:0.4em solid #558abb;
        padding:0.4em 0.4em 0.4em 0.6em;
        display:block;
        color:#4d4e53;
        tab-size:4;
        line-height:normal;
        font-size:90%;
        background-color:#dde4e9;
    }

    a {
        color:#0860a8;
        text-decoration:none;
        &:hover {
            color:#242c61;
            text-decoration:underline;
           img {
                opacity:.85;
            }
        }
        &:focus { outline: none; }
        outline:none;
        -ms-touch-action: none;
    }
    img, table { margin:0; padding:0; border:0;  }
    table { border-collapse:collapse; }
    hr { background-color: #000; height:1px; border:0; width: 100%; }

    label {
      font-weight:bold;
      display:block;
      padding: 0;
      margin-bottom:0.3%;
      font-size:90%;
      line-height:90%;
      margin-bottom:0.6em;
      opacity:.85;
    }

    input + span, span + select, span + input, span + div {
      margin-left:0.4em;
    }

    form {
      >div, >fieldset >div {
        padding-top:1em;
        &:first-child { padding-top:0; }
      }

      fieldset {
        background-color: #FAFAFA;
        border: 1px solid #CCC;
        @include corners;
        padding:1em;
        color:#111;
        margin:0;
        @include spacingbottom;
        legend {
          color:#222;
          padding: 0 0.7em;
          margin: 0 0 0 0.2em;
          border: 1px solid #AAA;
          background-color: #FFF;
          @include corners;
        }
      }

      @media screen and (min-width: 1000px) {
        >fieldset {
          display:inline-block;;
          &:not(last-child) {
              margin-right:$PAGE_PADDING_STANDARD_WIDTH;
          }
        }
      }

      @media screen and (max-width: 1000px) {
        >fieldset {
          border:none;
          padding-left:0;
          padding-right:0;
          padding-bottom:0;
          background-color:inherit;
          >div {
            &>select, &>textarea, &>input:not([type='button']):not([type='submit']):not([type='radio']):not([type='checkbox']) {
              width:100%;
              margin:0;
            }
          }
          >legend {
            border:0;
            margin-left:0;
            background-color:inherit;
            font-weight:bold;
          }
        }
        >input[type="submit"] , >button {
          margin-top: 1em;
        }
      }

      fieldset > legend + div {
        margin-top:-1em;
      }
    }
    ul, ol, li { margin:0; }
    li { margin-left:0.3em; }
    nav {
      > ul {
        margin:0;
        padding:0;
        > li {
          list-style:none;
          margin:0;
          padding:0;
        }
      }
    }

    iframe { border:0;  }
    sup { font-weight:bold; }
    textarea,select,input:not([type='button']):not([type='submit']),[contenteditable="true"] {
      color:#000;
      padding:5px;
      margin:0;
      border:1px solid #DDD;
      border-top:1px solid #AFAFAF;
      background-color:#FFF;
      font-size:90%;
      &:hover { border:1px solid #CCC; border-top:1px solid #999; }
      &:focus { border-color:#2272b6; }
      &:active { -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3); box-shadow: inset 0 1px 2px rgba(0,0,0,0.3); }
    }

    input:focus, select:focus, textarea:focus, button:focus, [contenteditable="true"]:focus {
        outline: none;
    }

    button, input[type="button"], input[type="submit"] {
      min-width: 6em;
      text-align: center;
      padding:0.4em 0.7em;
      font-weight: bold;
      font-size:90%;
      border-radius: 0.3em;
      font-size:90%;
    }

    input[type="submit"] {
      border: 1px solid #1b4587;
      color: #fff;
      text-shadow: 0 1px rgba(0,0,0,0.1);
      background-color: #24529c;
      background: linear-gradient(color-stops(#24529c 0%, #193054 100%));
      &:hover {
        border: 1px solid #2f5bb7;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #1e4482;
        background: linear-gradient(color-stops(#24529c 0%, #1e4482 100%));
        cursor:pointer;
      }
      &:active {
        background-color: #1e4482;
        background: linear-gradient(color-stops(#2e5799 0%, #1e4482 100%));
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
      }
    }
    button, input[type="button"] {
      color: #444;
      border: 1px solid #dcdcdc;
      background-color: #f5f5f5;
      background: linear-gradient(color-stops(#f5f5f5 0%, #f1f1f1 100%));
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      cursor: default;
      &:hover {
        cursor:pointer;
        border: 1px solid #c6c6c6;
        color: #333;
        text-decoration: none;
        background-color: #f8f8f8;
        background: linear-gradient(color-stops(#f8f8f8 0%, #f1f1f1 100%));
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      }
      &:active {
        background-color: #f6f6f6;
        background: linear-gradient(color-stops(#f6f6f6 0%, #f1f1f1 100%));
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      }
    }

    input + button, button + input, button + button, input + input, select + select, input + select, select + input { margin-left: 1em }

    button[disabled],input[disabled],textarea[disabled],select[disabled],input[disabled]:hover,textarea[disabled]:hover,select[disabled]:hover {
        color:#AAA;
        -webkit-box-shadow: none;
        text-shadow:none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: 1px solid #dcdcdc;
        background-color: #f5f5f5;
        background: linear-gradient(color-stops(#f5f5f5 0%, #f1f1f1 100%));
        cursor:default;
    }

    sub, sup { font-size: 75%; line-height:0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
    h1 { font-size: 200%; margin:2.5% 0 0 0; line-height:normal; }
    h2 { font-size: 150%; margin:2.2% 0 0 0; opacity:.9; line-height:normal; }
    h3 { font-size: 115%; margin:1.7% 0 0 0; opacity:.8; line-height:normal; }
    h4 { font-size: 105%; margin:1.4% 0 0 0; opacity:.7; line-height:normal; }
    h5 { font-size: 100%; margin:1.1% 0 0 0; opacity:.6; line-height:normal; }
    h6 { font-size: 95%; margin:0.8% 0 0 0; opacity:.5; line-height:normal; }

    >.igaro-loading, >.igaro-router-loading {
        position:fixed;
        z-index:999990;
        top:0;
        left:0;
        right:0;
        height:100%;
        width:100%;
        display:table;
        >div {
            position:relative;
            display:table-cell;
            vertical-align:middle;
            text-align:center;
            transition: color 1s ease-in;
            -webkit-transition: color 1s ease-in;
            >div {
              margin:0 auto;
              display:inline-block;
            }
            &:not(.error) {
                font-size:2em;
                >p {
                    line-height:50%;
                    opacity:0.1;
                    -webkit-animation: igaro-loading 4s ease-in-out infinite;
                    animation: igaro-loading 4s ease-in-out infinite;
                    &:nth-child(1) {
                        animation-delay:0s;
                    }
                    &:nth-child(2) {
                        animation-delay:0.5s;
                    }
                    &:nth-child(3) {
                        animation-delay:1s;
                    }
                    &:nth-child(4) {
                        animation-delay:1.5s;
                    }
                    &:nth-child(5) {
                        animation-delay:2s;
                    }
                }
            }
            &.progress >p {
                color:#114e17;
            }
        }
    }

    >.igaro-loading {
        font-family: "Helvetica", "Verdana", "Arial"; // prevent dynamic font loading changing the font
        background-color:#fff;
        color:#000;
        >div {
            &.error {
                background-color:#fff;
                > div {
                  padding:10em 1em 1em 1em;
                  background-size:9em 9em;
                  background-position: 50% 0;
                  background-repeat: no-repeat;
                  background-image: inline-image("error.svg");
                }
            }
        }
    }

    >.igaro-router-loading {
        background-color:rgba(0,0,0,.85);
        color:#fff;
        >div >div {
            border-top-color:#fff !important;
            border-bottom-color:#fff !important;
        }
    }

    .core-dom-hide {
      display:none !important;
    }

}

@media (max-width:640px) {
    body {
        font-size:11pt;
    }
}
