@-webkit-keyframes instance-navigation-fadeInDown {
0% { opacity: 0; -webkit-transform: translateY(-2em); }
100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes instance-navigation-fadeInDown {
0% { opacity: 0; transform: translateY(-2em); }
100% { opacity: 1; transform: translateX(0); }
}

.instance-navigation {

    font-weight:bold;

    @media (min-width:1000px) {
        font-size:130%;
    }

    ul {
        margin:0;
        padding:0;
        li {
            list-style:none;
            margin:0;
            padding:0;
            white-space:nowrap;
            outline:0;
            >a {
                display:block;
                color:inherit;
                text-decoration:none;
                >span {
                    display:block;
                    &:empty {
                        display:none;
                    }
                }
            }
        }
    }

    >.tabs {
        border-bottom:1px solid #444;
        position:relative;
        >ul {
            text-align:left;
            &:after { 
                content: ""; 
                clear: both; 
                display: block;
            }
            >li {
                cursor:pointer;
                display:inline-block;
                padding:0 0.7em;
                font-size:100%;
                line-height:180%;
                &.tick { 
                    background-color:green; 
                }
                &.cross { 
                    background-color:red; 
                }
                sup { 
                    margin-left:2px; 
                }
                &.active {
                    position:relative;
                    background-color:#444;
                    color:#fff;
                    border-radius:0.2em 0.2em 0 0;
                    mrgin-left:0.4em;
                }
                &.disabled {
                    color:#ccc;
                    &:hover { 
                        color:#ccc; 
                        cursor:default;
                    }
                }
            }
        }
    }


    >.drop {

        white-space:nowrap;
        
        text-align:left;
        ul {

            >li.inactive:hover {
                cursor:pointer;
            }

            >li.active {
                background:#444;
                cursor:default;
                &:hover {
                    cursor:default;
                }
            }
            >li.disabled {
                cursor:default;
                background:inherit;
                color:#aaa;
                >span { 
                    color:inherit 
                } 
                &:hover {
                    cursor:default;
                }
            }
        }

        >ul {
            display:block;
            margin-left:-0.9em;
            >li {
                float:left;

                &.active {
                    background: #393832;
                    &:hover { cursor:pointer; }
                    >a >span {
                        color:#fff;
                    }
                }

                >a {

                    >span {
                        padding:0.6em 1em;
                    }

                    >.children {
                        box-shadow: 0 20px 15px #ccc;
                        background: #393832;
                        position:absolute;
                        z-index:9999;
                        //width:100%;
                        right:0;
                        -webkit-animation-name: instance-navigation-fadeInDown;
                        animation-name: instance-navigation-fadeInDown;
                        -webkit-animation-duration:0.5s;
                        animation-duration:0.5s;
                        &:hover {
                            cursor:default;
                        }
                        >ul {
                            display:inline-block;
                            position:relative;
                            li {
                                margin:0.7em;
                                padding:0 2em 0 0;
                                display:block;
                                .children {
                                    position:absolute;
                                    top:0;
                                    //right:0;
                                    //left:100%;
                                }
                                >a {
                                    >span {
                                        text-shadow: 0 1px rgba(0,0,0,0.3);
                                        line-height:100%;
                                        padding:0.7em 1em 0.7em 1em; 
                                        color:#fff; 
                                        text-decoration: none;
                                    }
                                }
                                &.tick { background-color:green; }
                                &.cross { background-color:red; }
                                
                                >.service-xhrstatus {
                                    position:absolute;
                                    top:0;
                                    right:2em;

                                    >a {
                                        padding:0;
                                        background:none;
                                        border:none;
                                        position:absolute;
                                        top:0.7em;
                                        left:auto;
                                        >.error { width:100%; height:100%; }
                                        >.loading { padding:20%; width:100%; height:100%; border-width:5px; border-color:#fff; border-right-color: transparent; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}