@import "../sass-global/mixins.scss";

body >.core-router >.main >.features >.wrapper {
    @include pagepadding;
    @include pagerestrictwidth;

    .youtube {
    	width:500px;
    	height:350px;
    	border:0;
    	margin:0;
    	padding:0;
    }

    .instance-samespace {

    	width:460px;

    	>.canvas {

            >div { height:288px; }

    		>.a0 {
	    		background: inline-image("route.main.features/0.jpg") no-repeat 50% 50%;
                background-size:100%;
	    	}
	    	>.a1 { 
	    		background: inline-image("route.main.features/1.jpg") no-repeat 50% 50%;
                background-size:100%;
	    	}
	    	>.a2 { 
	    		background: inline-image("route.main.features/2.jpg") no-repeat 50% 50%;
                background-size:100%;
	    	}

	    }

    }

}