@import "../sass-global/mixins.scss";

@-webkit-keyframes route-header-xhr-spin {
  from { -webkit-transform: rotate(0deg); opacity: 0.2; }
  50%  { -webkit-transform: rotate(180deg); opacity: 1; }
  to   { -webkit-transform: rotate(360deg); opacity: 0.2; }
}

@keyframes route-header-xhr-spin {
  from { transform: rotate(0deg); opacity: 0.2; }
  50%  { transform: rotate(180deg); opacity: 1; }
  to   { transform: rotate(360deg); opacity: 0.2; }
}



body >.core-router >.header {

	background: #000;
    height:7em;
    @media screen and (max-height: 700px) {
        height:4em;
    }
    @media screen and (min-height: 1000px) {
        height:9em;
    }

	>.wrapper {

        // firefox bug
        height:7em;
        @media screen and (max-height: 700px) {
            height:4em;
        }
        @media screen and (min-height: 1000px) {
            height:9em;
        }

        //height:100%;
        text-align:left;
		@include pagerestrictwidth;
		@include pagepadding;
		padding-top:0;
		padding-bottom:0;
		background-color: rgba(32,28,30,.8);
		border-left-color:rgba(35,30,33,.8);
		border-right-color:rgba(35,30,33,.8);

        >* {
            display:inline-block;
        }

		>.logo {
		    height:100%;
		    width:5em;
		    margin-left:4%;
		    margin-right:1%;
		    background: inline-image("route.header/logo.svg") no-repeat 100% 50%;
		    background-size:80%;
		    &:hover {
		    	cursor:pointer;
		    }
            @media screen and (min-width: 800px) and (min-height:700px) {
                width:7em;
            }
		}

		>.instance-navigation {
			height:100%;
            margin-left:1em;
            width:6em;
            border:none;
            >ul {
                margin:0;
                height:100%;
                padding:0;
                border:none;
                //background:none;
                >li {
                    display:inline-block;
                    width:50%;
                    margin:0;
                    height:100%;
                    padding:0;
                    border:none;
                    >a {
                        height:100%;
                    }
                }
                >.app {
                    background:#FFF;
                    padding-top:1px;
                    >a {
                        background: inline-image("route.header/app.svg") no-repeat 50% 50%;
                        background-size:60%;
                    }
                }
                >.api {
                    cursor:pointer;
                    background: linear-gradient(color-stops(#4988ef 0%, #235ebd 100%));
                    &:hover {
                        background: linear-gradient(color-stops(#427ad7 0%, #1d4f9e 100%));
                    }
                    >a {
                        background: inline-image("route.header/api.svg") no-repeat 50% 52%;
                        background-size:45%;
                    }
                }
			}
		}

        >.settings, >.code {
            width:2.4em;
            height:2.4em;
            margin-bottom:0.3em;
        }

        >.settings {
            margin-left:0.3em;
            background-size:80% !important;
            background: inline-image("route.header/settings.svg") no-repeat 50% 50%;
        }

        >.code {
            background: inline-image("route.header/code.svg") no-repeat 50% 50%;
            background-size:95% !important;
        }

		>.xhr {
		  	position:relative;
		    width:2em;
		    height:2.2em;
			>div {
			    position:absolute;
			    z-index:9999;
			    right:0;
		        width: 1.5em;
		        height: 1.5em;
		        border: 0.42em solid #fff;
		        border-right-color: transparent; border-radius: 50%;
		        -webkit-animation: route-header-xhr-spin 1s linear infinite;
		        animation: route-header-xhr-spin 1s linear infinite;
			}
		}
	}
}

