@import "../sass-global/mixins.scss";

body >.core-router >.main >.showcase {
    @include pagepadding;
    @include pagerestrictwidth;
    >.wrapper {
		.binarycom {
		    width: 100%;
		    max-width:651px;
		    border:1px solid #000;
		    display: inline-block;
		    position: relative;
			&:after {
			    padding-top:70%;
			    display:block;
			    content:'';
			}
			>div {
			    position:absolute;
			    top:0;bottom:0;right:0;left:0;
			    background: inline-image("route.main.showcase/binarycom.png") no-repeat;
 				background-size:100%;
			}
		}
 	}
}