@import "../sass-global/mixins.scss";

body >.core-router >.main >.mobile >.wrapper {

    @include layoutStandard;

	>textarea {
		max-width:100%;
		width:30em;
		height:7em;
	}

    >.ios {
        width:600px;
        height:464px;
        max-width:100%;   
        background: inline-image("route.main.mobile/ios.jpg") no-repeat;
        background-size:100%;  
    }

    >.android {
        width:600px;
        height:554px;
        max-width:100%;  
        background: inline-image("route.main.mobile/android.jpg") no-repeat;
        background-size:100%;  
    }

	>.embeddedresdemo {

		>div { 
			display:inline-block; 
			background: inline-image("route.main.mobile/chinchilla.jpg") no-repeat;
            background-size:100%;
		}

		>* {
			height:355px;
			width:400px;
			border: 3px solid #000;
			border-radius: 6px;
			&:not(last-child) {
				margin-right:1em;
			}
		}

		@media (max-width: 500px) {
			>* {
				height:177px;
				width:200px;
			}
		}
	}

	>.gesturedemo >div {
		max-width:100%;
		width:20em;
		height:14em;
		border: 2px solid #000;
		border-radius: 4px;
		display:inline-block;
		background-color:#fff;
		&.tap {
			background: inline-image("route.main.mobile/gestures/tap.png") #fff no-repeat 50% 50%;
		}
		&.doubletap {
			background: inline-image("route.main.mobile/gestures/doubletap.png") #fff no-repeat 50% 50%;
		}
		&.pinch {
			background: inline-image("route.main.mobile/gestures/pinch.png") #fff no-repeat 50% 50%;
		}
		&.rotate {
			background: inline-image("route.main.mobile/gestures/rotate.png") #fff no-repeat 50% 50%;
		}
		&.pan {
			background: inline-image("route.main.mobile/gestures/pan.png") #fff no-repeat 50% 50%;
		}
		&.swipe {
			background: inline-image("route.main.mobile/gestures/swipeleft.png") #fff no-repeat 50% 50%;
		}
	}

}
