@import "../sass-global/mixins.scss";

body >.core-router >.main >.features >.wrapper {
    @include layoutStandard;

	>p >.instance-table >tbody >tr >td {

		&.green {
			background-color:green;
		}

		&.red {
			background-color:red;
		}

		&.orange {
			background-color:orange;
		}

    }

    .youtube {
	    width:460px;
    	max-width:100%;
    	height:350px;
    	border:0;
    	margin:0;
    	padding:0;
    }

    .instance-samespace {

    	max-width:460px;

    	>div {

            >div { height:288px; }

    		>.a0 {
	    		background: inline-image("route.main.features/0.jpg") no-repeat 50% 50%;
                background-size:100%;
	    	}
	    	>.a1 { 
	    		background: inline-image("route.main.features/1.jpg") no-repeat 50% 50%;
                background-size:100%;
	    	}
	    	>.a2 { 
	    		background: inline-image("route.main.features/2.jpg") no-repeat 50% 50%;
                background-size:100%;
	    	}

	    }

    }

}
