@import "../sass-global/mixins.scss";

body >.core-router >.location {

	border-bottom: 1px solid #dadadf;
	background:#fff;

	>.wrapper {

		@include pagerestrictwidth;
		@include pagepadding;
        overflow-x:auto;
        border:none;

        >div {
            font-size:120%;
            font-weight:bold;
            display:table;
            background:none;
            border:none;
        
            >* {
                display:table-cell;
                vertical-align:middle;
            }
            
            >.home {
                background: inline-image("route.location/home-standard.svg") no-repeat 0 50%;
                background-size:75%;
                width:2em;
                height:100%;
                &:hover { 
                    background: inline-image("route.location/home-hover.svg") no-repeat 0 50%;
                    background-size:75%;
                }
            }


            >.location {

                line-height:1;
                
                >.paths {
                    font-weight:200;
                    display:table;
                    vertical-align:middle;
                    >* {
                        display:table-cell;
                        padding-left:0.4em;
                        padding-right:0.7em;	
                        &:first-child {
                            padding-left:0;
                        }
                        background: inline-image("route.location/section.svg") 100% 50% no-repeat;
                        background-size: 0.4em 70%;
                        &:last-child {
                            background:none;
                        }
                        &:hover {
                            text-decoration:none;
                        }
                    }
                }

                >.params {
                    font-size:65%;
                    font-weight:bold;
                    overflow:hidden;
                    text-overflow: ellipsis;
                    >div {
                        overflow:hidden;
                        text-overflow: ellipsis;
                        >span {
                            position:relative;
                            margin-right:0.3em;
                            &:after {
                                content:'|';
                                margin-left:0.3em;
                            }
                            &:last-child:after {
                                content:'';
                                margin-left:0;
                            }
                        }
                    }
                }
            }
        }
	}
}

body:not([scrollposition="0"]) >.core-router >.location {
	display:none;

}
