@mixin commongradient {
    background: linear-gradient(color-stops(#FFF 0%, #F0F0F0 100%));
}

@mixin commonboxshadow {
    box-shadow: 0 0.5em 0.6em #e2e2e2;
}

@mixin pagepadding {
    padding:2% 3%;
}

@mixin pagerestrictwidth {
    margin:0 auto 0 auto;
    max-width:1024px;
}

@mixin pagemenu {

    display:block;
    list-style:none;
    margin:0;
    padding:0;
  
    &:after {
        content: "";
        display: block;
        height:0;
        clear:both;
        visibility: hidden;
    }

    padding-top:1.5%;

    >li {

        position: relative;
        float:left;
        color:#000;
        width:16.6%;
        min-height:11em;
        margin:0;
        padding:1.5% 0 0 0;

        @media (max-width: 1300px) {
            width:20%;
        }

        @media (max-width: 1100px) {
            width:25%;
        }

        @media (max-width: 800px) {
            width:33%;
        }

        @media (max-width: 500px) {
            width:50%;
        }


        >a {

            color:#000;
            &:hover, &:active {
                color:#000;
                text-decoration:none;
                @include commongradient;
                border-color:#E4E4E4;
                border-radius:1em;
                cursor:pointer;
            }

            &:after {
                    content:'';
                    width:100%;
                    height:100%;
                    position:absolute;
                    left:0;
                    top:0;
            }

            border: 1px solid #E9E9E9;
            background:#fff;
            width:8em; 
            height:7.5em;
            overflow: auto;
            margin: auto;
            position: absolute;
            top:0; left:0; bottom:0; right:0;
            border-radius:1em;
            text-align:center;
            font-size:120%;
            padding:0;
            >div {
                margin-top:9%;
            }
        }

    }
    
    >.disabled {
        background:#fff;
        &:hover { cursor:inherit; background:#fff; }
        opacity:0.3;
    }

}