.instance-modaldialog {
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color: rgba(0,0,0,.7);
    text-align:center;
    display:table;
	>.wrapper {
		display:table-cell;
		vertical-align:middle;
		>.wrapper {
			border-radius:.7em;
			background:#fff;
			width:60%;
			max-width:30em;
			padding:1.6em;
			border: 0.3em solid #eee;
			margin:0 auto;
			>div {
				>.action {
					margin-top:1em;
					text-align:right;
					input + input, select + select, input + select, select + input { margin-left: 1em }
				}
			}
			>.alert {
				text-align:center;
				>.action {
					text-align:center;
				}
			}
		}
	}
}
