.instance-accordion {
	
	>dl {

		margin:0;

		>dt {
			border-bottom:1px solid #444;
			padding-bottom:0.2em;
			font-weight:bold;
			margin-bottom:0.5em;
			position:relative;
			font-size:120%;
			&:hover {
				cursor:pointer;
				text-decoration:none;
			}
			>span {
				display:inline-block;
				&:nth-child(2) {
					&:empty {
						display:none;
					}
					font-size:75%;
					font-weight:bold;
					margin-left:0.4em;
					vertical-align: super;
					&:before {
						content:'['
					}
					&:after {
						content:']'
					}
				}
			}
			>div {
				position:absolute;
				right:0;
				width:1em;
				top:0.25em;
				height:1em;
				background: inline-image("instance.accordion/arrow.svg") no-repeat 100% 50%;
            	background-size: 100%;
            	-webkit-transition: all 0.5s ease-in-out;                 
				transition: all 0.5s ease-in-out;
			}
		}

		>dd {
			max-height:0;
			overflow:hidden;
			margin:0;
			-webkit-transition: all 0.6s;                 
			transition: all 0.6s;
			opacity:0;
		}

		&.expand {
			>dd {
				max-height:999px;
				opacity:1;
				margin-bottom:0.5em;
			}
			>dt {
				>div {
					transform: rotate(-90deg);
				}
				>span:nth-child(2) {
					display:none;
				}
			}
		}

	}


}