@import "../sass-global/mixins.scss";

body >.core-mvc >.main >.design >.wrapper {

    @include pagepadding;
    @include pagerestrictwidth;

	>.classid {
		width:310px;
		height:118px;   
		background: inline-image("route.main.design/classid.png");  
	}

	>.viewblock {
		background:#444;
		display:inline-block;
		font-weight:bold;
		color:#fff;
		>p {
			padding:1em;
			>div {
				color:#fff;
				display:inline-block;
				margin:1em 1em 0 1em;
				padding:1em;
				background:red;
			}
		}
	}

}