@-webkit-keyframes service-status-fadeInRight {
0% { opacity: 0; -webkit-transform: translateX(2000px); }
100% { opacity: 1; -webkit-transform: translateX(0); }
}

@-moz-keyframes service-status-fadeInRight {
0% { opacity: 0; -moz-transform: translateX(2000px); }
100% { opacity: 1; -moz-transform: translateX(0); }
}

@-o-keyframes service-status-fadeInRight {
0% { opacity: 0; -o-transform: translateX(2000px); }
100% { opacity: 1; -o-transform: translateX(0); }
}

@keyframes service-status-fadeInRight {
0% { opacity: 0; transform: translateX(2000px); }
100% { opacity: 1; transform: translateX(0); }
}

@-webkit-keyframes service-status-fadeInUp {
0% { opacity: 0; -webkit-transform: translateY(2000px); }
100% { opacity: 1; -webkit-transform: translateY(0); }
}

@-moz-keyframes service-status-fadeInUp {
0% { opacity: 0; -moz-transform: translateY(2000px); }
100% { opacity: 1; -moz-transform: translateY(0); }
}

@-o-keyframes service-status-fadeInUp {
0% { opacity: 0; -o-transform: translateY(2000px); }
100% { opacity: 1; -o-transform: translateY(0); }
}

@keyframes service-status-fadeInUp {
0% { opacity: 0; transform: translateY(2000px); }
100% { opacity: 1; transform: translateX(0); }
}

body >.service-status {

    position:fixed;
    width:100%;
    z-index:9999999;
    bottom:0;
    left:0;
    background: linear-gradient(color-stops(#111 0%, #222 100%));
    border-top: solid 3px #fff;
    font-size:80%;
    line-height:130%;

    >.hide {
        width:2em;
        height:2em;
        right:0.7em;
        top:0.7em;
        position:absolute;
        z-index:999999999999;
        background:inline-image('service.status/close.svg') no-repeat;
        background-size: 1.7em 1.7em;
        &:hover { cursor:pointer; }
    }

    >nav {
        position:relative;
        padding:0;
        margin-right:2.7em;
        >ul {
            margin:0.7% 3em 0.7% 1.5%;
            padding:0;
            >li {
                -webkit-animation-name: service-status-fadeInRight;
                -moz-animation-name: service-status-fadeInRight;
                -o-animation-name: service-status-fadeInRight;
                animation-name: service-status-fadeInRight;
                -webkit-animation-duration:1s;
                -moz-animation-duration:1s;
                -ms-animation-duration:1s;
                -o-animation-duration:1s;
                animation-duration:1s;
                &:last-child { margin-right:0; }
                list-style:none;
                border-radius:8px;
                border:1px solid #eee;
                margin:0.7% 0.7% 0.7% 0;
                padding:0.7em;
                white-space:nowrap;
                display:inline-block;
                background: #fff;
                color:#000;
                .title { font-weight:bold; }
                .type {
                    display:table-cell;
                    padding-right:0.5em;
                    div { width:1.5em; height:1.5em; margin:1% 0 0 1% }
                    .warn { background:inline-image('service.status/type/warn.png') no-repeat; background-size: 100%; }
                    .info { background:inline-image('service.status/type/info.png') no-repeat; background-size: 100%; }
                    .critical { background:inline-image('service.status/type/critical.png') no-repeat; background-size: 100%;}
                }
                .details {
                    display:table-cell;
                    vertical-align:middle;
                    div {
                        white-space:nowrap; display:block;
                        .code {
                            margin:0; display:inline; font-weight:bold;
                            &:after { main:'-'; padding:0 3pt 0 3pt; }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px), handheld and (orientation: portrait) {
    body >.service-status {
        >.hide {
            top:0;
            right:auto;
            width:100%;
            height:2em;
            position:relative;
            background-position: 50% 0;
        }

        >nav {
            margin:0;
            >ul {
                margin:0;
                >li {
                    margin:0;
                    display:block;
                    border-radius:0;
                    -webkit-animation-name: service-status-fadeInUp;
                    -moz-animation-name: service-status-fadeInUp;
                    -o-animation-name: service-status-fadeInUp;
                    animation-name: service-status-fadeInUp;
                    >.type {
                        display:none;
                    }
                }
            }
        }

    }
}